*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f2f6f7;
}

/* Navbar */
.nav-item{
    background-color: #285F6B;
    padding: 15px;
    color: white;
    text-align: center;
}

/* Profile Layout */
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.profile-card{
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.profile-pic{
    width: 80px;
    height: 80px;
    background: #367D8A;
    color: white;
    font-size: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
}

.profile-card h3{
    margin-bottom: 10px;
}

.profile-card p{
    margin: 6px 0;
}

.profile-card button{
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    background: #285F6B;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.profile-card button:hover{
    background: #133336;
}
